<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dabai.TaiChi">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:debuggable="false"
        android:name=".utils.CarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".activitys.EggActivity" android:label="彩蛋"/>
        <activity android:name=".activitys.IntroActivity" android:label="介绍页"/>
        <activity
            android:name=".activitys.SettingsActivity"
            android:label="设置" />
        <activity
            android:name=".activitys.FeedBack"
            android:label="反馈"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 设备管理 begin -->
        <receiver
            android:name=".receiver.DeviceReceiver"
            android:description="@string/description_admin"
            android:label="阴阳门 - 设备管理员模式"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>